.hero-list {
  list-style: none;
  // max-height: 90vh;
  // overflow-y: scroll;
  background: $bg-color-alt;
  border-right: 3px solid #041f3a;
  padding: 0;
  li {
    @include small {
      display: inline;
    }
  }
  img {
    cursor: pointer;
  }
}
