.hero-list {
  // max-height: 90vh;
  // overflow-y: scroll;
  background: $bg-color-alt;
  border-right: 3px solid #041f3a;
  margin: 0;
  li {
    @include small {
      display: inline;
    }
  }
  img {
    cursor: pointer;
  }
}

.hero-header {
  @extend .row;
  flex-direction: column;
  h1 {
    font-size: 48px;
    margin: 5px;
  }
  h2 {
    font-size: 36px;
    margin: 5px;
  }
}

.other-info {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
  background: steelblue;
}
