.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.container {
  @extend .mx-auto;
  width: 100%;
  @include medium {
    max-width: 720px;
  }
  @include large {
    max-width: 960px;
  }
  @include xl {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-heroes {
  @include column;
  flex: 0 0 80px;
  max-width: 80px;
  @include small {
    flex: 0 0 160px;
    max-width: 160px;
  }
}

.col-showcase {
  @include column;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  border: 4px solid steelblue;
}

.txt-center {
  text-align: center;
}
