@mixin column {
  width: 100%;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.container {
  @extend .mx-auto;
  width: 100%;
  @include large {
    max-width: 1000px;
  }
  @include xl {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  // flex-wrap: wrap;
}

.col-heroes {
  @include column;
  position: fixed;
  height: 100%;
  // flex: 0 0 85px;
  max-width: 85px;
  @include small {
    // flex: 0 0 165px;
    max-width: 165px;
  }
  @include medium {
    // flex: 0 0 275px;
    max-width: 275px;
  }
}

.col-showcase {
  @include column;
  position: relative;
  margin-left: 85px;
  // flex-basis: 0;
  // flex-grow: 1;
  // max-width: 100%;
  @include small {
    margin-left: 170px;
  }
  @include medium {
    margin-left: 300px;
  }
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  img {
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
    &:hover {
      background-color: $bg-color-alt;
    }
    @include medium {
      margin: 5px;
    }
  }
}

.txt-center {
  text-align: center;
}
