@mixin column {
  width: 100%;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.container {
  @extend .mx-auto;
  width: 100%;
  @include large {
    max-width: 1000px;
  }
  @include xl {
    max-width: 1200px;
  }
}

.row {
  display: flex;
}

.col-heroes {
  @include column;
  position: fixed;
  overflow: hidden;
  max-height: 1600px;
  max-width: 85px;
  @include small {
    max-width: 165px;
  }
  @include medium {
    max-width: 275px;
  }
}

.hero-list {
  display: flex;
  height: 95%;
  // overflow-y: scroll;
  flex-wrap: wrap;
  // @include medium {
  //   // Code below centers list vertically
  //   position: absolute;
  //   top: 42%;
  //   transform: translateY(-42%);
  // }
  img {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    &:hover {
      background-color: $hover-color;
      transform: scale(1.1, 1.1);
    }
    @include medium {
      margin: 5px;
    }
  }
}

.col-showcase {
  @include column;
  position: relative;
  margin-left: 85px;
  @include small {
    margin-left: 170px;
  }
  @include medium {
    margin-left: 300px;
  }
}

.txt-center {
  text-align: center;
}
