$font-set: "Rubik", sans-serif;
$font-set-alt: "Kalam", cursive;

@mixin italic {
  font-style: italic;
}

.flavor-text {
  color: $flavor-color;
  font-size: 19px;
  font-family: $font-set-alt;
  padding: 5px;
}

h1 {
  font-size: 36px;
  @include large {
    font-size: 48px;
  }
}

h2 {
  font-size: 28px;
  @include large {
    font-size: 32px;
  }
}

.main-flavor-text {
  @extend .flavor-text;
  font-size: 21px;
  @include large {
    font-size: 24px;
  }
}
