$font-set: "Rubik", sans-serif;

@mixin italic {
  font-style: italic;
}

.flavor-text {
  color: $flavor-color;
  font-size: 19px;
  font-family: "Kalam", cursive;
  padding: 5px;
  &.bigger {
    font-size: 24px;
  }
}
