.hero-list {
  background: #1f6495;
  border-right: 3px solid #041f3a;
  margin: 0;
}

@media (min-width: 576px) {
  .hero-list li {
    display: inline;
  }
}

.hero-list img {
  cursor: pointer;
}

.main-info-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  border: 3px solid steelblue;
}

.hero-header {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-header h1 {
  font-style: italic;
  font-size: 48px;
  margin: 5px;
}

.hero-header h2 {
  font-style: italic;
  font-size: 36px;
  margin: 5px;
}

.list-inline li {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  margin: 2px;
  border-radius: 3px;
  background: #1f6495;
}

.skill-info-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "skill-icon skill-name" "skill-icon skill-desc" "more-info more-info";
}

.skill-icon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: skill-icon;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid steelblue;
}

.skill-name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: skill-name;
  border: 4px solid steelblue;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-desc {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: skill-desc;
  font-size: 19px;
  text-align: justify;
  padding: 0 10px;
  border: 4px solid steelblue;
}

.more-info {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: more-info;
  border: 4px solid steelblue;
}

.mx-auto, .container {
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.row, .hero-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-heroes {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  max-width: 80px;
}

@media (min-width: 576px) {
  .col-heroes {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
    max-width: 160px;
  }
}

.col-showcase {
  position: relative;
  width: 100%;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
  border: 4px solid steelblue;
}

.txt-center {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  color: #d5cfcf;
  background-color: #0e3958;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
/*# sourceMappingURL=main.css.map */