@import "./partials/variables";
@import "./partials/typography";
@import "./partials/mixins";
@import "./partials/heroList";
@import "./partials/layout";

body {
  margin: 0;
  padding: 0;
  color: $font-color;
  // @include italic;
  background-color: $bg-color;
  font-family: $font-set;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

// h1, h2, h3 {
//   margin-bottom: 0;
// }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
